.daily-reflection__title {
  margin: 0 0 var(--space-2);
  font-size: 0.9375rem;
  font-weight: 600;
}

.daily-reflection__input {
  width: 100%;
  font-size: 0.875rem;
  resize: vertical;
  margin-bottom: var(--space-2);
}

.daily-reflection__save {
  float: right;
}
